<div class="section">
  <div class="card-container">

    <input type="date" class="card no-hover-card" name="startDate" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event" />
    <input type="date" class="card no-hover-card" name="endDate" [ngModel]="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event" />

    <button class="card" target="_blank" rel="noopener" (click)="extractClicked()">
      <span>Extract</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </button>

  </div>
</div>