
@import '../../styles/card.scss';

.card.card-small {
    height: 16px;
    width: 168px;
}

.section {
    display: flex;
    margin: 5px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.visibile {
    display: block;
}

.invisible {
    display: none;
}
