
@import '../../styles/card.scss';

.card.card-small {
    height: 16px;
    width: 168px;
}

.visibile {
    display: block;
}

.invisible {
    display: none;
}

.textbox {
    height: 30px;
    width: 190px;
}
